<% include ../partials/header.ejs%>
    <div class="container main">
        <div class="row">
            <!-- Latest Posts -->
            <main class="posts-listing col-lg-8">
                <div class="container">
                    <div class="row">
                        <!-- post -->
                        <% blogs.forEach(function(blog){%>
                            <div class="post col-xl-6">
                                <div class="post-thumbnail">
                                    <a href="/blogs/<%=blog._id%>">
                                        <img src="<%=blog.image%>" alt="..." class="img-fluid" alt="Responsive image">
                                    </a>
                                </div>
                                <div class="post-details">
                                    <div class="post-meta d-flex justify-content-between">
                                        <div class="date meta-last">
                                        </div>
                                    </div>
                                    <a href="/blogs/<%=blog._id%>">
                                        <h3 class="h4">
                                            <%=blog.title%>
                                        </h3>
                                    </a>
                                    <p class="text-muted">
                                        <%=blog.body %>
                                    </p>
                                    <a href="/blogs/<%=blog._id%>">Read more..</a>
                                    <footer class="post-footer d-flex align-items-center">
                                        <a href="#" class="author d-flex align-items-center flex-wrap">
                                            <div class="avatar">
                                                <img src="img/avatar-3.jpg" alt="..." class="img-fluid">
                                            </div>
                                            <div class="title">
                                                <span>
                                                    <%=blog.author.username%>
                                                </span>
                                            </div>
                                        </a>
                                        <div class="date">
                                            <i class="fa fa-clock"></i>
                                            <%=blog.created%>
                                        </div>
                                        <div class="comments meta-last">
                                            <i class="fa fa-comments"></i>
                                            <%= blog.comments.length %>
                                        </div>
                                    </footer>
                                </div>
                            </div>
                            <!-- post             -->
                            <% })%>
                    </div>
                    <!-- Pagination -->
                    <div class="Page navigation example">
                        <% if (pages && pages > 0) { %>
                            <ul class="pagination pagination-template d-flex justify-content-center">
                                <% if (current == 1) { %>
                                    <li class="page-item">
                                        <a>First</a>
                                    </li>
                                    <% } else { %>
                                        <li class="page-item">
                                            <a page-link active href="/blogs">First</a>
                                        </li>
                                        <% } %>

                                            <% if (current == 1) { %>
                                                <li class="page-item">
                                                    <a>«</a>
                                                </li>
                                                <% } else { %>
                                                    <li class="page-item">
                                                        <a page-link href="/blogs?page=<%= Number(current) - 1 %>">«</a>
                                                    </li>
                                                    <% } %>

                                                        <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
                                                            <% if (i !== 1) { %>
                                                                <li class="page-item">
                                                                    <a>...</a>
                                                                </li>
                                                                <% } %>
                                                                    <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
                                                                        <% if (i == current) { %>
                                                                            <li class="active">
                                                                                <a>
                                                                                    <%= i %>
                                                                                </a>
                                                                            </li>
                                                                            <% } else { %>
                                                                                <li class="page-item">
                                                                                    <a href="/blogs?page=<%= i %>">
                                                                                        <%= i %>
                                                                                    </a>
                                                                                </li>
                                                                                <% } %>
                                                                                    <% if (i == Number(current) + 4 && i < pages) { %>
                                                                                        <li class="page-item">
                                                                                            <a>...</a>
                                                                                        </li>
                                                                                        <% } %>
                                                                                            <% } %>

                                                                                                <% if (current == pages) { %>
                                                                                                    <li class="page-item">
                                                                                                        <a>»</a>
                                                                                                    </li>
                                                                                                    <% } else { %>
                                                                                                        <li class="page-item">
                                                                                                            <a href="/blogs?page=<%= Number(current) + 1 %>">»</a>
                                                                                                        </li>
                                                                                                        <% } %>

                                                                                                            <% if (current == pages) { %>
                                                                                                                <li class="page-item">
                                                                                                                    <a>Last</a>
                                                                                                                </li>
                                                                                                                <% } else { %>
                                                                                                                    <li class="page-item">
                                                                                                                        <a href="/blogs?page=<%= pages %>">Last</a>
                                                                                                                    </li>
                                                                                                                    <% } %>
                            </ul>
                            <% } %>
                    </div>
            </main>
            <aside class="col-lg-4">
                <!-- Widget [Search Bar Widget]-->
                <div class="widget search">
                    <header>
                        <h3 class="h6">Search the blog</h3>
                    </header>
                    <form action="#" class="search-form">
                        <div class="form-group">
                            <input type="search" placeholder="What are you looking for?">
                            <button type="submit" class="submit">
                                <i class="icon-search"></i>
                            </button>
                        </div>
                    </form>
                </div>
                <!-- Widget [Latest Posts Widget]        -->
                <div class="widget latest-posts">
                    <header>
                        <h3 class="h6">Latest Posts</h3>
                    </header>
                    <div class="blog-posts">
                        <a href="#">
                            <% blogs.forEach(function(blog){%>
                                <div class="item d-flex align-items-center">
                                    <div class="image">
                                        <img src="<%=blog.image%>" alt="..." class="img-fluid">
                                    </div>
                                    <div class="title">
                                        <strong>
                                            <%=blog.title%>
                                        </strong>
                                        <div class="d-flex align-items-center">
                                            <div class="views">
                                                <i class="icon-eye"></i> 500
                                            </div>
                                            <div class="comments">
                                                <i class="icon-comment"></i>12
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </a>
                        <a href="#">
                            <%})%>
                        </a>
                    </div>
                </div>
                <!-- Widget [Categories Widget]-->
                <div class="widget categories">
                    <header>
                        <h3 class="h6">Categories</h3>
                    </header>
                    <div class="item d-flex justify-content-between">
                        <a href="#">Growth</a>
                        <span>12</span>
                    </div>
                    <div class="item d-flex justify-content-between">
                        <a href="#">Local</a>
                        <span>25</span>
                    </div>
                    <div class="item d-flex justify-content-between">
                        <a href="#">Sales</a>
                        <span>8</span>
                    </div>
                    <div class="item d-flex justify-content-between">
                        <a href="#">Tips</a>
                        <span>17</span>
                    </div>
                    <div class="item d-flex justify-content-between">
                        <a href="#">Local</a>
                        <span>25</span>
                    </div>
                </div>
                <!-- Widget [Tags Cloud Widget]-->
                <div class="widget tags">
                    <header>
                        <h3 class="h6">Tags</h3>
                    </header>
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <a href="#" class="tag">#Business</a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#" class="tag">#Technology</a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#" class="tag">#Fashion</a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#" class="tag">#Sports</a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#" class="tag">#Economy</a>
                        </li>
                    </ul>
                </div>
            </aside>
            </div>
        </div>
        <%include ../partials/footer.ejs%>